@import "tailwindcss";

:root {
  --background: #f8f9fa;
  --foreground: #212529;
  --primary: #2c5f7c;
  --secondary: #8b4513;
  --accent: #d4a574;
  --primary-light: #6c757d;
  --primary-hover: #234a5e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --font-sans: var(--font-poppins);
  --color-primary-light: var(--primary-light);
  --color-primary-hover: var(--primary-hover);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}
